.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "header header"
        "main aside"
        "footer footer";
    gap: 10px; 
}

header {
    grid-area: header;
    border: 2px solid black;
    background-image: url('img/microsoft-surface.jpg'); 
    
}

main {
    grid-area: main;
    border: 2px solid black;
    background-image: url('img/dev_desk_dark.jpg');
    color: white;
}

aside {
    grid-area: aside;
    border: 2px solid black;
    background-image: url('img/dev_screen_dark.jpg');
    color: white;
     
}

footer {
    grid-area: footer;
    border: 2px solid black;
    background-image: url('img/simple-home-setup.jpg');     
}



/* Task 2: Responsive Design (Bonus) */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(4, 1fr);
        /* found "repeat" https://developer.mozilla.org/en-US/docs/Web/CSS/repeat */
        grid-template-areas:
            "header"
            "main"
            "aside"
            "footer";
    }
}